<h4>マイページ</h4>
<%= image_tag @user.get_profile_image("100x100") %>
<div>ユーザネーム</div>
  <%= @user.username %>
<div>メールアドレス</div>
  <%= @user.email %>
<div><%= link_to "編集する", mypage_edit_path %></div>
