<div class="jumbotron">
  <h4 class="display-5">そんぐキーぷ</h4>
  <p class="lead">曲のキーを保存するアプリです</p>
  <hr class="my-4">
  <strong>・曲の登録</strong><br>
  <strong>・キーの保存</strong><br>
  <strong>・曲についてのメモ</strong><br>
  <strong>・曲検索</strong><br>
  <strong>・アーティスト検索</strong><br>
  <strong>・ランダム選択</strong><br>
  <div>などができます。</div>
  
  <h6>※ログインはメールアドレスとパスワード</h6>
</div>

