<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="mt-3"><h1>ようこそ<i class="fas fa-music"></i></h1></div>
      <p>初めての方は新規登録ボタンを </p>
      <p>新規登録済みの方はログインボタンを</p>
      <p>押してください</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-info btn-sm btn-block mb-3 my-2 py-3' %>
        </div>
        <div class="row">
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-warning btn-sm btn-block my-2 py-3' %>
         
        </div>
      </div>
    </div>
  </div>
</div>